<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292105415443-d2daa2lohvmhqeevs3u4jf8q91lgu2t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292105415443-d2daa2lohvmhqeevs3u4jf8q91lgu2t8</string>
	<key>API_KEY</key>
	<string>AIzaSyCZP3PYIZt2Ioc3O7RXuIzsO-FogB8vN1E</string>
	<key>GCM_SENDER_ID</key>
	<string>292105415443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-c13b6</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-c13b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292105415443:ios:699544f0acf5f1e9fb88e6</string>
</dict>
</plist>